body{background: #efefef;color:black; margin: 0;
    padding: 0;
}
*{margin: 0;padding: 0;}
ol,ul{
    list-style-type: none;
}
.main{
    height:2000px
  }
a{
    color: inherit;
    text-decoration: none;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    color: #b7b7b7;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
    z-index: 1;
}
.topNavBar.sticky{
    color: #3d4451;
    background-color: white;    
    padding: 10px 0;
    box-shadow: 0 0 10px #292929;;
}
.topNavBar .topNavBar-son{
    padding: 0 20px;
}
.topNavBar > a{
    float: left;
}
.topNavBar  nav{
    float: right;
}
.topNavBar  nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar  nav > ul >li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar  nav > ul >li:hover::after{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: pink;
    height: 3px;
    animation: bottom-bar .3s;
}
@keyframes bottom-bar{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar  nav > ul >li >a{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    border-top: 6.5px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
/* .topNavBar  nav > ul >li >a:hover{
    border-bottom: 3px solid pink;
} */
.topNavBar .listBar{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.topNavBar .listBar.active{
    display: block;
}
.topNavBar .listBar li{
    white-space: nowrap;
}
.topNavBar  .logo{
    font-size: 24px;
    font-family:"Arial Black";
}
.topNavBar  .logo > .rs{
    margin-right: 4px;
    color: #e6686a;
}
.banner{
    background-image: url(img/lulu.jpg);
    height: 350px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 350px;
    background-color: rgba(0, 0, 0, 0.75);
}
.userCard{
    border: 1px solid #e6686a;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: white;
    margin-top: -150px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .picture{
    width: 299px;
    height: 347px;
    border: 1px solid  #e6686a;
    text-align: center;
    float: left;
    margin-right: 65px;
}
.userCard .text{
    float: left;
    width: 468px;
}
.userCard .welcome{
    background-color: orange;
    color: white;
    border: peru;
    padding: 5px 13px;
    display: inline-block;
    line-height: 20px;
    position: relative;
}
.userCard .text h1{
    margin: 25px 0 2px 0;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .welcome span{
    display: inline-block;
    width:0px;
    border:10px solid transparent;
    border-left-color:orange;
    border-top-width:0px;
    position: absolute;
    top: 30px;
    left: 4px;
  }
  .userCard .text dd,
  .userCard .text dt{
      float: left;
      width: 50%;
      margin: 5px 0;
  }
  .userCard .text dt{
      font-weight: bold;
  }
  .userCard .text dd{
      color: #9da0a7;
  }
  .userCard footer.media{
      background-color: #e6686a;
      text-align: center;
  }
  .userCard footer a{
      display: inline-block;
      width: 40px;
      line-height: 30px;
      border-radius: 50%;
      padding:5px 0px;
      margin: 10px 50px;
  }
  .userCard footer a:hover{
      background-color: #cf5d5f;
  }
  .userCard footer svg{
      width: 30px;
      height: 30px;
      fill: white;
      vertical-align: top;
  }
  main > .button{
      border: 1px solid #ccc;
      padding: 15px 50px;
      display: block;
      font-size: 13px;
      width: 86px;
      margin:35px auto;
  }
  main > .button:hover{
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  }
main>p{
      width: 511px;
      text-align: center;
      margin: 0 auto 30px auto;
      font-family:Arial, Helvetica, sans-serif;
  }
section.skills{
    max-width: 940px;
    margin: 60px auto 0 auto;
}
section.skills > h2,
section.portfolio > h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills >ol{
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 40px 10px 40px;
}
section.skills .progressBar{
    background: #fae1e1;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    margin: 15px 0 40px 0  ;
}
.progressBar .progress{
    background-color: #e6686a;
    height: 100%;
    width: 0;
    border-radius: 2px;
    transition: width 1s;
}
.progress.progressSide{width: 70%;}
.progress.progressSide1{width: 60%;}
.progress.progressSide2{width: 90%;}
.progress.progressSide3{width: 80%;}
.progress.progressSide4{width: 60%;}
.progress.progressSide5{width: 40%;}
section.skills ol li{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
}
.bannerp{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
.bannerp .circles{
    width: 160px;
    height: 20px;
    position: absolute;
    bottom:10px;
    left: 50%;
    margin-left: -75px;
    z-index: 9999;
}
.bannerp .circles li{
    float: left;
    width: 20px;
    height: 20px;
    background-color: #49da8f;
    margin-right: 10px;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}
.bannerp .circles li:last-child{
    margin-right: 0;
}
.bannerp .circles li.current{
    width: 40px;
    background-color: #20bd9a;
}

.bannerp .carousel_list {
    width: 600%;
    /* 清除浮动 */
    overflow: hidden;
    /* translateX中的百分数表示相对于它本身的宽度的多少倍 */
    /* transform: translateX(-33.333%); */
    transition: transform .5s ease 0s;
}
.bannerp .carousel_list li{
    float: left;
}
.bannerp .carousel_list li img {
    width: 500px;
    height: 300px;
    /* 白边的处理 */
    vertical-align: middle;
}
.bannerp .leftbtn{
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}
.bannerp .rightbtn{
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;

}